@model List<Footer>


<footer>
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6 col-lg-3">
                <div class="item">
                    <h6>CUSTOMER SERVICE</h6>
                    <ul class="list-unstyled mt-4">
                        @foreach (var item in Model)
                        {
                            <li><a class="text-black-50" href="">@item.Customer</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="item">
                    <h6>COMPANY</h6>
                    <ul class="list-unstyled mt-4">
                        @foreach (var item in Model)
                        {

                            <li><a class="text-black-50" href="">@item.Company</a></li>

                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="item">
                    <h6>SOCIAL MEDIA</h6>
                    <ul class="list-unstyled mt-4">
                        @foreach (var item in Model)
                        {
                            <li><a class="text-black-50" href="">@item.SocialMedia</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="item">
                    <h6>ARCHIVE</h6>
                    <ul class="list-unstyled mt-4">
                        @foreach (var item in Model)
                        {
                            <li><a class="text-black-50" href="">@item.Archive</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <div class="row py-2">
            <div class=" col-lg-4 text-center text-lg-left">
                <p class="text-black-50">
                    Powered by <a class="author text-muted"
                                  href="https://www.bakhtiyar.az">Bakhtiyar Shamilzada</a> 2020
                </p>
            </div>
            <div class=" col-lg-4 text-center">
                <img src="img/footer-bottom-1.png" class="fluid" alt="">
            </div>
            <div class=" col-lg-4 text-center text-lg-right mt-3 mt-lg-0">
                <a class="text-black-50 mr-5"
                   href="https://www.linkedin.com/in/bakhtiyar-shamilzada-145159185/">LINKEDIN</a>
                <a class="text-black-50" href="https://www.facebook.com/shamilzada.bakhtiyar">FACEBOOK</a>
            </div>
        </div>
    </div>
</footer>
